<app-loader></app-loader>
<!-- <div class="cont">
    <div class="demo">
        <div class="login">

            <div class="login__form">
            <img src="../../../assets/images/IES-square-logo.png">
            <form (submit)="login()">
                    <div class="login__row">
                        <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                        </svg>
                        <input type="text" class="login__input name" name="username" [(ngModel)]="username"
                            placeholder="Username" autofocus autocomplete="off" />
                    </div>
                    <hr>
                    <div class="login__row">
                        <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                        </svg>
                        <input type="password" name="password" [(ngModel)]="password" class="login__input pass"
                            placeholder="Password" />
                    </div>
                    <hr>
                    <div class="invalidCred" *ngIf="invalidCred">{{response}}</div>
                    <div class="invalidCred" *ngIf="formEmpty">Fill In All The Details</div>
                    <button mat-button type="submit" class="btn login__submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="my_container">
    <div class="login100-form">
        <p class="h3 text-center header">Sign In</p>
        <form (submit)="login()">
            <div class="wrap-input100 validate-input">
                <input class="input100" id="username" type="text" name="username" [(ngModel)]="username"
                    placeholder="Username" autocapitalize=off>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" id="password" type="password" name="password" [(ngModel)]="password"
                    placeholder="Password">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <div class="center justify-content-center">
                <div class="invalidCred" *ngIf="invalidCred">{{response}}</div>
                <div class="formEmpty" *ngIf="formEmpty">Both fields are required.</div>
            </div>
            <div class="container-login100-form-btn submit-button">
                <button mat-button type="submit" class="btn login100-form-btn">
                    Submit
                </button>
            </div>
            <div class="signup">
                <p class="login__signup">Don't have an account? &nbsp;<a (click)="signUp()">Sign up</a></p>
            </div>
        </form>
    </div>
</div>